#budget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin-bottom: 30px;
}

#budget-form .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;

  background-color: var(--yellow);

  border: 2px solid var(--black);
  border-radius: 8px;

  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);

  padding: 40px 0;
}

#budget-form .form-wrapper .form-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

#budget-form .form-wrapper .form-title-wrapper .form-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;

  color: var(--black);
}

#budget-form .form-wrapper .form-title-wrapper .form-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

  color: var(--black);

  margin-top: 20px;

  padding: 0 16px;
}

#budget-form .form-wrapper .form-steps {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: 600;
  line-height: 22px;

  color: var(--black);

  width: 100%;

  margin-top: 40px;
}

#budget-form .form-wrapper form {
  margin-top: 30px;

  width: 100%;

  max-width: 550px;
}

#budget-form .form-wrapper form .form-field + .form-field {
  margin-top: 20px;
}

#budget-form .form-wrapper form .form-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;

  padding: 0 16px;
}

#budget-form .form-wrapper form .form-loading {
  font-size: 24px;

  width: 130px;

  margin: 0 auto;
}

@media (min-width: 580px) {
  #budget-form .form-wrapper .form-title-wrapper .form-title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media (min-width: 680px) {
  #budget-form .form-wrapper form .form-actions {
    padding: 0;
  }
}

@media (min-width: 960px) {
  #budget-form .form-wrapper .form-title-wrapper .form-title {
    font-size: 48px;
    line-height: 48px;
  }

  #budget-form .form-wrapper .form-title-wrapper .form-subtitle {
    font-size: 24px;
    line-height: 24px;

    padding: 0;
  }

  #budget-form .form-wrapper .form-steps {
    font-size: 28px;
    line-height: 28px;
  }
}
