<section id="budget-form">
  <div class="form-wrapper">
    <div class="form-title-wrapper">
      <h2 class="form-title">Explique o que você precisa</h2>

      <p class="form-subtitle">Receba até 4 orçamentos grátis, online!</p>
    </div>

    <h3 class="form-steps">
      Etapas: 1/4
    </h3>

    <form>
      <div class="form-field">
        <label class="budget-form-field-label" for="budget-form-field">Para quando você precisa deste serviço?</label>

        <select class="budget-form-field-select" id="budget-form-field" name="Para quando você precisa deste serviço?" required="true">
          <option>Selecione uma opção</option>
          <option value="Hoje ou nos próximos dias">Hoje ou nos próximos dias</option>
          <option value="Nos próximos 30 dias">Nos próximos 30 dias</option>
          <option value="Nos próximos 3 meses">Nos próximos 3 meses</option>
          <option value="Ainda não tenho previsão">Ainda não tenho previsão</option>
        </select>

        <span class="form-required-field-message">Este campo é requerido</span>
      </div>

      <div class="form-actions">
        <button type="button" class="form-actions-button button-ghost">Voltar</button>
        <button type="button" class="form-actions-button button-solid">Próximo</button>
      </div>
    </form>
  </div>
</section>
