#banner {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

#banner .banner-title {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

#banner .banner-img {
  height: 430px;
  width: 320px;

  margin: 30px auto 0;
}

#banner .banner-title .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;

  color: var(--black);

  margin-bottom: 20px;
}

#banner .banner-title .subtitle {
  font-size: 18px;
  line-height: 32px;

  color: var(--gray);
}

#banner .banner-title .banner-badges {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-top: 30px;
}

#banner .banner-title .banner-badge {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

#banner .banner-title .banner-badge span {
  font-style: italic;

  color: var(--gray);

  margin-left: 10px;

}

@media (min-width: 580px) {
  #banner .banner-title .banner-badges {
    flex-direction: row;
  }

  #banner .banner-title .banner-badge + .banner-badge {
    margin-left: 40px;
  }

  #banner .banner-title .banner-badge {
    margin-bottom: 0;
  }
}
@media (min-width: 960px) {
  #banner .banner-title {
    width: 65%;
  }

  #banner .banner-img {
    margin: 0;
  }

  #banner .banner-title .title {
    font-size: 48px;
    line-height: 56px;
  }

  #banner .banner-title .subtitle {
    font-size: 24px;
  }

  #banner .banner-title .banner-badges {
    margin-top: 60px;
  }
}
