<section id="banner">
  <div class="banner-title">
    <h1 class="title">Precisando de Cabeleireiros?</h1>

    <p class="subtitle">
      Milhares de profissionais avaliados por clientes, permitindo você negociar apenas com os melhores.
    </p>

    <div class="banner-badges">
      <div class="banner-badge">
        <img src="../../assets/check-icon.svg" alt="Check" />

        <span>Até 4 orçamentos grátis e seguros</span>
      </div>

      <div class="banner-badge">
        <img src="../../assets/star-icon.svg" alt="Star" />
        <img src="../../assets/star-icon.svg" alt="Star" />
        <img src="../../assets/star-icon.svg" alt="Star" />
        <img src="../../assets/star-icon.svg" alt="Star" />
        <img src="../../assets/star-icon.svg" alt="Star" />

        <span>Profissionais avaliados</span>
      </div>
    </div>
  </div>

  <img src="../../assets/hair-stylist.png" alt="Cabeleireiro" class="banner-img" />
</section>
